*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html{ 
	font-family: 'helvetica neue';
	text-align: center;
	font-size: 10px;
}
body{
	background-image: linear-gradient(rgba(231, 220, 225, .5), rgba(231, 220, 225, .5)), url(../images/background.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
}
.head{
	padding: 20px;
	line-height: 65px;
}
.head h1{
	font-size: 60px;
	color: #EF2178;
	letter-spacing: 5px;
	text-transform: capitalize;
}
.head p{
	color: black;
	font-size: 30px;
	text-transform: capitalize;
}
/*--Clock Design start--*/
.clock{
	width: 300px;
	height: 300px;
	background-color: #E7DCE1;
	border-radius: 50%;
	border: 10px solid black;
	margin: 60px auto;
	padding: 10px;
	position: relative;
}
.hour-hand{
	width: 25%;
	height: 7px;
	background: black;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: rotate(90deg);
	transform-origin:100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%; 
}
.min-hand{
	width: 35%;
	height: 6px;
	background: black;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: rotate(90deg);
	transform-origin:100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.second-hand{
	width: 38%;
	height: 4px;
	background: ;
	position: absolute;
	background-color: #EF2178;
	top: 50%;
	left: 12%;
	transform: rotate(90deg);
	transform-origin:100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%; 
}
.dot{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #EF2178;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	z-index: 10;
	box-shadow: 0 2px 4px -1px black;
}
span{
	display: inline-block;
	position: absolute;
	color: black;
	font-size: 22px;
	z-index: 4;
}
.h1{
	top: 26px;
    right: 70px;
}
.h2{
   top: 70px;
   right: 25px;
}
.h3{
	top: 130px;
	right: 15px;
}
.h4{
	top: 187px;
    right: 30px;
}
.h5{
	top: 230px;
    right: 72px;
}
.h6{
	bottom: 4px;
	left: 48%;
}
.h7{
	top: 233px;
    right: 193px;
}
.h8{
	top: 186px;
    right: 240px;
}
.h9{
	left: 15px;
	top: 130px;
}
.h10{
	left: 22px;
    top: 73px;
}
.h11{
	left: 64px;
    top: 26px;
}
.h12{
	top: 6px;
	left: 50%;
	margin-left: -9px;
}
/*--Clock Design end--*/
.start a button{
	padding: 10px 50px;
	background: #EF2178;
	border: none;
	text-decoration: none;
	color: white;
	font-size: 15px;
	cursor: pointer;
}
.start a button:hover{
	background: black;
}

/*Responsive*/
@media screen and (min-width: 1200px) {
  body {
    height: auto;
  }
}